@font-face{
	font-family: 'Dancing-Script';
	src: url('../font/DancingScript-Regular.otf') format('opentype');
}

body{
	padding: 0;
	margin: 5px;
	background-color: #02010a;
	font-family: 'Dancing-Script';
	overflow-x: hidden;
}
#contenido{
	max-width: 900px;
	text-align: center;
	margin: auto;
}
img{
	box-shadow: 2px 2px 2px 2px #02010a;
}
#header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
	padding: 20px;
}
.nombre_pag{
	color:white;
	text-shadow: 2px 2px 2px #02010a;
	float: left;
	font-size: 32px;
}
#menu{
	float: right;
}
#menu li{
	float: left;
	list-style: none;
	margin: 10px;
}
#menu li a{
	color: white;
}
#menu li a.actual{
	text-decoration: none;
}

#container_img{
	background-color: #82c3a6;
    text-align: center;
    /* width: 100%; */
    padding-bottom: 30px;
    padding: 10px;
    max-width: 100%;
}
#container_img img{
	width: 80%;
	display:block;
    margin: 10px auto 10px auto;
}

#container_sec{
	display: flex;
	text-align: center;
	background-color: #d5c75f;
    padding: 1px;
}
#container_sec img{
	width: 90%;
	height: 350px;
	margin: 20px auto 20px auto;
}
#container_sec div{
	width: 50%;
}
#container_sec a{
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	font-size: 25px;
}
#container_sec .img_izquierda:hover{
	transform: rotateZ(10deg);
	box-shadow: 2px 2px 2px 2px #82c3a6 !important;
	-webkit-transition: transform 0.7s ease-in;
 	-moz-transition: transform 0.7s ease-in;
   	-o-transition: transform 0.7s ease-in;
  	transition: transform 0.7s ease-in;
	border:2px solid;
}
#container_sec .img_derecha:hover{
	transform: translate(10px,-5px);
	box-shadow: 2px 2px 2px 2px #82c3a6 !important;
	border:2px solid;
	-webkit-transform: translate(10px,-5px);
 	-moz-transform: translate(10px,-5px);
  	-ms-transform: translate(10px,-5px);
   	-o-transform: translate(10px,-5px);

   	-webkit-transition: -webkit-transform 0.7s ease-in; /* Changed here */ 
 	-moz-transition: -moz-transform 0.7s ease-in;
   	-o-transition: -o-transform 0.7s ease-in;
  	transition: transform 0.7s ease-in;
}

/*FOOTER*/
#footer{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	background-color: #C6d5c5;
	width: 100%;
	padding: 0.1px;
}
#footer .col_footer{
	width: 25%;
	margin-bottom: 10px;
}
.col_footer.redes div{
	text-align: left;
}
.red_social{
	width: 15px;
	height: 15px;
	margin-bottom: 5px;
	box-shadow: inherit !important;
}

@media (max-width: 500px){
	#contenido{
		max-width: 100% !important;
		width: 100% !important;
	}
	#container_sec{
		display: block;
	}
	#container_sec div{
		width: 90%;
		margin: auto;
	}
	#container_sec img{
		width: 100%;
	}
	#footer{
		display: block;
		width: 100%;
	}
	#footer .col_footer{
		width: 100%;
	}
	#menu {
	    margin: 0;
	    float: inherit;
	}
	.nombre_pag{
	    font-size: 24px;
	}
}